{%  extends 'layouts.html' %}
{% load static %}

{% block content %}
	<!--

	{% for album in all_albums  %}

		<li><a href="{% url 'music:detail' album.id %}">{{album.album_title}}</a></li>

	{% endfor %}

	 -->

<center>{% if request.user.is_authenticated %}<h3 class="flow-text"><strong>Welcome {{ request.user.username }}</strong> || <a href="{% url 'music:logout' %}">LOGOUT</a></h3>
{% else %}<a href="{% url 'music:login' %}"><h3 class="flow-text"><strong><span class="grey-text darken-3">LOGIN</span></strong></h3></a>{% endif %}
</center>
<div class="row">

{% for album in object_list  %}

        <div class="col l3">
              <a href="{% url 'music:detail' album.id %}">
                  <img src="{{album.album_logo.url}}" class="responsive-img">  
              </a>   

               <a class="btn waves-effect waves-light  green accent-4" href="{% url 'music:album-update' album.id %}">
               EDIT
               </a>   


               <form class="col s8" action="{% url 'music:album-delete' album.id %}" method="post">
    			
    			{% csrf_token %}
    				<input type="hidden" name="album_id" value="{{album.id}}">
				   <center><button class="center-align btn waves-effect waves-light" type="submit" name="action">DELETE		    		
			  	   </button> 
			  	   </center>
    			</form>


        </div>

{% endfor %}  

</div><!--end of row-->


      

   

 
          

{% endblock %}