{%  extends 'layouts.html' %}
{% load static %}

{% block content %}
<p class="red-text flow-text center-align">Create a new account</p>
 <div class="row">
<div class="col m4"></div>
    <form class="col s8" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% include 'music/form-template.html' %}

    


	   <button class="btn waves-effect waves-light light-blue accent-4" type="submit" name="action">REGISTER
    
  </button> 
    </form>
  </div>

  <div class="col m4"></div>
        

{% endblock %}