{% load static %}
 <!DOCTYPE html>
  <html>
    <head>    
      
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>     
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <style type="text/css">
      body{
           background: url("{% static 'images/background.jpg' %}") no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
    </style>

    <body>
    
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

      <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      
      <h3 class="header center red-text"><a href="/"><span class="purple-text darken-4">MUSIC LIBRARY</span></a></h3>
        

    </div>
  </div>


      {% block content %} {% endblock %}

    </body>
  </html>
        